$positive: #4ababb;
$negative: #ff534f;

@media only screen and (min-width:48em) {
	.brand-logo {
		margin-left: 1em;
	}
}

body > .container {
	margin-top: 2em;
}

.collection li {
	padding: .5em;

	& > * {
		margin: .25em;
	}
}

.positive {
	color: $positive;
	opacity: .3;
	&:hover, &.active {
		opacity: 1;
	}
}

.negative {
	color: $negative;
	opacity: .3;
	&:hover, &.active {
		opacity: 1;
	}
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-between {
	justify-content: space-between;
}

.flex-end {
	align-self: flex-end;
}