<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<title>{{title}}</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	
	{% include '../includes/navbar.html' ignore missing %}

	<div class="container">
		{% block content %}

		{% endblock %}
	</div>

	{% include '../includes/footer.html' ignore missing %}

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	<script src="https://npmcdn.com/masonry-layout@4.0.0/dist/masonry.pkgd.min.js"></script>
	<script>
		$(function(){
			$('.button-collapse').sideNav();
		});
	</script>
	{% block tail %}

	{% endblock %}
	
</body>
</html>