{% extends 'layouts/base.html' %}

{% block content %}	
	<h3>{{header}}</h3>
	<form method="post">
		<div class="input-field">
			<textarea class="materialize-textarea active" name="quote_text" id="quote_text" required>{{quote.text}}</textarea>
			<label for="quote_text">Quote Text</label>
		</div>

		<div class="input-field">
			<input type="text" id="source" name="source" value="{{quote.source}}">
			<label for="source">Source (optional)</label>
		</div>

		{% if quote %}
			<input type="hidden" name="_method" value="put">
		{% endif %}

		<button class="btn btn-large waves-effect waves-light right" type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		</button>
	</form>
{% endblock %}