{% extends 'layouts/base.html' %}

{% block content %}	
	<div class="row masonry">
	{% for quote in quotes %}
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content flex flex-column flex-between">
					<p>{{quote.text}}{% if quote.source %}, <em>{{quote.source}}</em>{% endif %}</p>
					<a href="/user/{{quote.author.username}}" class="secondary-content flex-end">{{quote.author.username}}</a>
				</div>
				<div class="card-action flex flex-between">
					<a href="/quotes/{{quote.id}}/upvote"><i class="material-icons positive {% if logged and quote.upvoted(logged) %}active{% endif %}">thumb_up</i></a>
					<span>({{quote.upvotes()-quote.downvotes()}})</span>
					<a href="/quotes/{{quote.id}}/downvote"><i class="material-icons negative {% if logged and quote.downvoted(logged)%}active{% endif %}">thumb_down</i></a>
				</div>
				{% if logged and quote.author.id == logged.id %}
				<div class="card-action flex flex-between blue-grey darken-2">
					<a href="/quotes/{{quote.id}}/edit"><i class="material-icons">edit</i></a>
					<a href="#deleteModal" class="modal-trigger" data-quote-id="{{quote.id}}"><i class="material-icons negative active">delete</i></a>
				</div>
				{% endif %}
			</div>
		</div>
	{% else %}
		No quotes, yet.
	{% endfor %}
	</div>

	<div id="deleteModal" class="modal">
		<div class="modal-content">
			<h4>Confirmation</h4>
			<p>Are you sure you want to delete this quote? You can't undo this after you confirm.</p>
		</div>
		<div class="modal-footer">
			<a href="" id="confirmButton" class="modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
			<a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>

{% endblock %}

{% block tail %}
	<script>
		$(function(){
			$('.modal-trigger').leanModal().click(function(){
				var id = $(this).data('quoteId');

				$('#deleteModal #confirmButton').click(function(){
					$.ajax({
					    url: '/quotes/' + id + '/delete',
					    type: 'DELETE',
					    success: function(result) {
					        location.reload(true);
					    }
					});
				});
			});

			$('.masonry').masonry({
				itemSelector: '.col',
				percentPosition: true
			});
		});
	</script>
{% endblock %}